<nav class="footer d-flex align-items-center navbar-expand-lg navbar-light bg-primary">
    <div class="created-by d-flex justify-content-start">
        <p>Created by <a href="https://github.com/ichsanna" target="_blank">Ichsan Nur Aldiansyah</a></p>
        <p><a href="https://github.com/ichsanna/url-shortener" target="_blank">Source Code</a></p>
    </div>
</nav>