<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/login.css">
        <script src="js/auth.js"></script>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
        <div class="container main-container d-flex flex-column justify-content-center align-items-center">
            <form class="form-login" onsubmit="event.preventDefault();login()">
                <h1>Login</h1>
                <div class="form-input form-floating mb-3">
                    <input name="username" type="text" class="form-control" id="username" placeholder="Username">
                    <label for="username">Username</label>
                </div>
                <div class="form-floating">
                    <input name="password" type="password" class="form-control" id="password"
                        placeholder="Password">
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="button-submit btn btn-primary">Login</button>
                <p>No account? <a href="/register">Register here</a></p>
            </form>
        </div>
        <%- include('partials/footer.ejs') %>
</body>

</html>