<div class="modal fade" id="show-new-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New link shortened!</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="new-link modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" onclick="copyLink()" class="new-copy btn btn-primary"><i class="fa-solid fa-copy"></i>Copy</button>
            </div>
        </div>
    </div>
</div>