<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../head.ejs') %>
        <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('../navbar.ejs') %>
        <div class="container main-container">
            <div class="toolbar d-flex justify-content-between">
                <h2>My Links</h2>
                <div class="toolbar-child d-flex">
                    <div class="create d-flex align-items-center">
                        <button type="button" class="button-create btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#add-modal"><i class="fa-solid fa-plus"></i>New
                            Shortlink</button>
                    </div>
                    <div class="search-bar input-group d-flex align-items-center">
                        <span class="input-group-text fa-solid fa-magnifying-glass"></span>
                        <input type="text" class="search-input form-control" placeholder="Search...">
                    </div>
                </div>
            </div>
            <div class="modal fade" id="add-modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add New Shortlink</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-input form-floating mb-3">
                                <input name="namelink" type="text" class="form-control" id="floatingName"
                                    placeholder="Enter link name">
                                <label for="floatingName">Link name</label>
                            </div>
                            <div class="form-input form-floating mb-3">
                                <input name="longlink" type="text" class="form-control" id="floatingLink"
                                    placeholder="Enter your link">
                                <label for="floatingLink">Paste your link</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" onclick="addNewLink()" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="edit-modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Link</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-input form-floating mb-3">
                                <input name="namelink" type="text" class="form-control" id="floatingEditName"
                                    placeholder="Link name">
                                <label for="floatingEditName">Link name</label>
                            </div>
                            <div class="form-input form-floating mb-3">
                                <input name="longlink" type="text" class="form-control" id="floatingEditLink"
                                    placeholder="Original link">
                                <label for="floatingEditLink">Original link</label>
                            </div>
                            <div class="form-input form-floating mb-3">
                                <input name="shortlink" type="text" class="form-control" disabled id="floatingEditShortLink"
                                    placeholder="Short link">
                                <label for="floatingEditShortLink">Short link</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" onclick="EditLink()" class="submit-edit btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../footer.ejs') %>
</body>

</html>