.button-create i{
    margin-right:10px;
}
.search-bar span{
    font-size: 20px;
    padding:10px;
}
.create{
    margin-right:20px;
}
.button-create{
    width: 150px;
}
.toolbar h2{
    margin-bottom: 0;
}
.toolbar{
    margin-bottom: 20px;
}
.toolbar-child p{
    margin-right: 10px;
    margin-bottom: 0px;
}
.toolbar-child select{
    margin-right: 10px;
}
.links-container{
    border-radius: 10px;
    background-color: white;
    padding:20px;
    margin-bottom: 10px;
}
.link p{
    margin-bottom: 5px;
}
.operation button{
    margin-right:10px;
}
.operation button i{
    margin-right:10px;
}
#qr-image{
    margin-top:20px !important;
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
}