<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <h2>URL Shortener</h2>
        <% if (isAuthorized) {%>
            <button type="button" onclick="logout()" class="button-logout btn btn-primary"><i class="fa-solid fa-arrow-right-from-bracket"></i>Log out</button>
        <% } %>
    </div>
</nav>