<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <h2>URL Shortener</h2>
        <% if (isAuthorized) {%>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <%= username %>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="logout()">Log out</a></li>
                </ul>
            </div>
            
            <% } %>
                
    </div>
</nav>